<md-dialog flex="40">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create Task</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">X
          <!-- <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon> --></md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content dialog-max-width">
        <form name="taskCreationForm">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Task name</label>
            <input ng-model="homeCtrl.task.name" name="taskName" required>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Description</label>
            <input ng-model="homeCtrl.task.description" required> </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>End date</label>
            <md-datepicker ng-model="homeCtrl.task.endDate" required></md-datepicker>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Created by</label>
            <input ng-model="homeCtrl.task.createdBy" required> </md-input-container>
        </form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="addTask(homeCtrl.task)" ng-disabled="taskCreationForm.$invalid"> Create Task </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
